{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row"> 
       <div class="top"> 
            <h4 class="top_right" ><a href="login.php">Log Out</a></h4>
            <h4 class="top_right" ><a href="userprofile.php">Home</a></h4>
        </div>
    </div>
</div>

<!--Question and Answer-->
      <div class="container-fluid">
          <div class="row">
            <div class="user-activities-block">
                <div class="user-img">
                    <img class="img-fluid" src="images/ID5907@2x.png" alt="" >
                   
                </div>
                <div class="user-activities-info col-lg-10">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th scope="col" class="col-lg-1">Sl.No. </th>
                            <th scope="col" >Question Posted</th>
                            
                            <th scope="col" class="col-lg-1"></th>
                            
                        </tr>
                    
                        <tr>
                            <td>sfsfsf</td>
                            <td><p>fsdfsfsf</p>
                            <td><a href="activities_detail.php?id=<?php echo $question_id ?>" class="btn btn-outline-primary">Visit</a></td>
                        </tr>
                       
                        
                    </tbody>
                    </table>
                </div>
                <div class="user-buttons">
                   
                    <a class="btn btn-outline-primary" href="user_profile.php?id=<?php echo $Id?>">My Profile</a>
                   
                </div>
            </div>
            
          </div>
      </div>
    {% endblock main_content %}