{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="container-fluid">
    <div class="row"> 
      
      <div class="img-block col-lg-4 offset-2">
        <img class="img-fluid rounded " src="{% static 'images/signup.jpg' %} " alt="Login with your credentials">
      </div>

      <div class="signupform col-lg-4 offset-1">
        <h2>Sign Up</h2>
        <form action="" method="post">
          <div class="inpuBox">
            <label>Teacher Name</label>
            <input type="text" name="teacher_name" id="teacher_name"><br>
            <span class="field_error" id="name_error"></span>
          </div>
          
          <div class="inpuBox">
            <label >Teacher Email</label>
            <input type="email" name="teacher_email" id="teacher_email"><br>
            <span class="field_error" id="email_error"></span>
          </div>
          <div class="inpuBox"><button class="btn btn-outline-primary email_sent_otp" type="button" onclick="email_sent_otp()" >Send OTP</button></div>
          <div class="inpuBox"><input class="email_verify_otp" type="text" id="email_otp" placeholder="ENTER OTP">
            <button class="email_verify_otp btn btn-outline-primary" type="button" onclick="email_verify_otp()" >Verify OTP</button>
            <span class="field_error" id="email_otp_result"></span>
          </div>
          <div class="inpuBox">
            <label >Password</label>
            <input type="password" name="teacher_password" id="teacher_password"><br>
            <span class="field_error" id="password_error"></span>
          </div>
          <div class="inpuBox">
            <label >Confirm Password</label>
            <input type="password" name="teacher_confirm_password" id="teacher_confirm_password" onchange="match_password()"><br>
            <span class="field_error" id="confirm_password_error"></span>
          </div>
          
         
          <button type="button" class="btn btn-outline-primary" id="signup" onclick="teacher_registration()"> <em class="fas fa-user-plus"></em> Sign Up</button>
        </form>
        <div class="form-output register_msg">
									<p class="form-messege field_error"></p>
								</div>
       <!-- <hr>
        <form action="" method="post">
          <button type="submit" class="btn btn-outline-primary col-lg-8" id="google"><em class="fab fa-google-plus-g"></em> Continue with Google</button>
          <button type="submit" class="btn btn-outline-primary col-lg-8" id="linkedin"><em class="fab fa-linkedin"></em> Continue with Linkedin</button>
        </form> -->
        <p>Already an User?<a href="login.php"> LogIn</a></p>
      </div>
    
     
        
        
    </div>
     
  </div>
   {% endblock main_content %}