{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row"> 
      
      <div class="img-block col-lg-4 offset-2">
        <img class="img-fluid rounded " src="{% static 'images/ID5907@2x.png' %} " alt="Login with your credentials">
      </div>

      <div class="editform col-lg-4 offset-1">
        <h2>Edit Profile</h2>
        <form action="" method="post">
          <div class="inpuBox">
            <label>Teacher Name</label>
            <input type="text" name="edit_name" id="login_email" value="<?php echo $teacher_names;?>">
          </div>
          <div class="inpuBox">
            <label >Teacher Email</label>
            <input type="email" name="edit_email" id="login_password" value="<?php echo $teacher_emails;?>">
          </div>
          <button type="submit" class="btn btn-outline-primary" id="update_user_profile" name="submit">Update</button>
        </form>
        <div class="user-buttons">
                   
          <a class="btn btn-outline-primary" href="teacher_profile.php?id=<?php echo $Id?>" style="margin-bottom: 1rem; text-align: center;
          margin-left: auto;">My Profile</a>
         
      </div>
      </div>
    
     
        
        
    </div>
     
  </div>
  {% endblock main_content %}