{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="img-block col-lg-4 offset-2">
            <img class="img-fluid rounded " src="{% static 'images/login-img.jpg' %}" alt="Login with your credentials">
        </div>
        <div class="loginform col-3 offset-1">
            <h2>LogIn</h2>
            <form id="Login_form" method="post">
                <div class="inpuBox">
                    <label>Email</label>
                    <input type="email" name="user_email" id="login_email" required><br>
                    <span class="field_error" id="email_error"></span>
                </div>
                <div class="inpuBox form-group">
                    <label>Password</label>
                    <input type="password" name="user_password" id="login_password" required><br>
                    <span class="field_error" id="password_error"></span>
                </div>
                <div class="forget_password">
                    <p><a href="forgetpassword.php">Forget Password?</a></p>
                </div>
                <div>
                    <button type="button" onclick="login_submit()" class="btn login-btn col-lg-6" value="Login">
                        LOGIN</button>
                </div>
                <div class="form-output login_msg">
                    <p class="form-messege field_error"></p>
                </div>
                <p class="new_user">Not an User?<a href="signupwelcome.php"> SignUp</a></p>
            </form>
            <!-- <hr>
      <form action="" method="post">
        <button type="submit" class="btn btn-outline-primary col-lg-8" id="google"><em class="fab fa-google-plus-g"></em> <?php echo $login_button;?></button>
        <button type="submit" class="btn btn-outline-primary col-lg-8" id="linkedln"><em class="fab fa-linkedin"></em> Continue with Linkedin</button>
      </form> -->
            
        </div>
    </div>
</div>


{% endblock main_content %}